* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  overflow: hidden;
}
#root{
  height: 100vh;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 1.4;
}
a {
  color: inherit;
  text-decoration: none;
}
h3{
  margin-top: 10px;
}
.emscripten {
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas{
  outline: none;
  border: 0px none;
  max-height: calc(100% - 32px);
}
.fullscreen-canvas{
  max-height: 100%!important;
}
.highlighted{
  background-color: rgba(192, 48, 48, 0.3)!important;
}
.inline{
  display: flex;
}
.errorLog{
  position: absolute;
  bottom: 32px;
  width: 100%;
  max-height: 25%;
  overflow: auto;
  background-color: #acacacdc;
}
.error{
  user-select: none;
  font-size: small;
  line-height: 2;
  margin: 10px;
}
.error img{
  height: 15px;
  margin-right: 5px;
  vertical-align: middle;
}
.errorLine{
  background-color: #ecada2!important;
}
.navbar{
  position: relative;
  height: 48px;
  background-color: #124C7A;
  border-bottom: solid 3px #2FA6E2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.navbar a{
  float: left;
  color: #fff;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbar-left{
  height: 100%;
  display: flex;
  padding: 5px!important;
}
.navbar-left span{
  color: #2FA6E2;
}
.navbar-left p{
  display: flex;
  font-size: 24px;
  color: #fff;
}
.logo{
  width: 28px;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}
.navbar-centered a {
  display: flex;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}
.navbar-right {
  float: right;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.editorBox{
  min-width: 300px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.runButton{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 18px;
  letter-spacing: 1px;
  color: white;
  background-color: #2FA6E2;
  border-radius: 2px;
  border-style: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 12px 6px 12px;
  vertical-align: top;
  z-index: 20;
  cursor: pointer;
}
.runButton img{
  height: 12px;
  margin-left: 4px;
}
.codemirrorContainer{
  flex-grow: 1;
}
#xamlEditorContainer{
  height: calc(100% - 32px);
}
.codePreviewNavbar{
  z-index: 200;
  width: 100%;
  height: 32px;
  background-color: #d9d9d9;
  border: 1px solid #bfbfbf;
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.codePreviewNavbar p{
  align-items: center;
  line-height: 30px;
  margin-left: 10px;
  color: #384349;
}
.codePreviewNavbar a p{
  color: #1c91cc;
  font-size: 16px;
  margin-right: 4px;
}
.codePreviewNavbar img{
  height: 12px;
  margin-right: 10px;
}
.codePreviewCode{
  height: calc(100% - 32px);
  border: 1px solid #bfbfbf;
  border-top-width: 0;
}
.CodeMirror{
  height: 100%;
  font-size: 13px;
  font-family: Consolas, monaco, monospace;
  font-weight: normal;
  background: #F3F3F3;
}
.codePreviewCode .CodeMirror{
  background: #FFF;
}
.CodeMirror-lines{
  padding: 8px 0;
}
.CodeMirror-linenumber {
  color: #989898;
}
.CodeMirror-gutters {
  border-right: 0px;
  background-color: #F3F3F3;
}
.CodeMirror-scrollbar-filler {
  background-color: #F3F3F3;
}
.codePreviewCode .CodeMirror-scrollbar-filler {
  background-color: #FFF;
}
.CodeMirror-hscrollbar, .CodeMirror-vscrollbar {
  outline: none;
  background-color: #F3F3F3;
}
.codePreviewCode .CodeMirror-hscrollbar, .codePreviewCode .CodeMirror-vscrollbar {
  background-color: #FFF;
}
.CodeMirror-hints {
  padding: 2px 0;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,.2);
  box-shadow: 1px 1px 4px rgba(0,0,0,.2);
  border-radius: 2px;
  border: 1px solid #c0c0c0;
  background: #e0e0e0;
  font-size: 75%;
  font-family: "Open Sans", sans-serif;
}
.CodeMirror-hint {
  margin: 0;
  padding: 1px 12px;
  border-radius: 0;
  white-space: pre;
  color: #444;
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background: #2FA6E230;
  color: #000;
}
#editorSkeleton{
  display: flex;
  height: calc(100% - 48px);
}
.verticalSplitter{
  flex: 0 0 auto;
  height: 100%;
  max-width: 1px;
  border-bottom: 32px solid #161616;
  background: #BFBFBF;
  cursor: ew-resize;
  z-index: 10;
}
.verticalSplitter:after{
  content: "";
  display: block;
  width: 8px;
  height: 100%;
  position: relative;
  top: 0px;
  left: -3px;
}
.canScroll{
  cursor: ns-resize
}
footer{
  user-select: none;
  position: relative;
  height: 32px;
  background-color: #161616;
  color: #B3B3B3;
  font-size: 11px;
  align-items: center;
  text-align: center;
}
footer img{
  height: 20px;
  filter: invert(60%);
  margin: 0 10px 0 10px;
}
.button-active{
  filter: invert(100%)!important;
}
footer img:hover{
  filter: invert(80%);
}
.center {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#rightFooter{
  background-color: #252525;
}
footer span{
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
#frames{
  margin: 0;
}
.link{
  user-select: none;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  z-index: 100;
  text-align: center;
  background-color: #25252530;
}
.linkCode{
  right: 20px;
}
.link:hover{
  background-color: #25252560;
}
.link img{
  margin: 8px;
  width: 15px;
  height: 15px;
}
.title{
  display: flex;
  white-space: nowrap;
  align-items: center;
}
.title p{
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 20vw;
}
.title-link{
  margin: 25px;
  width: 15px;
  height: 15px;
  margin: 12px;
}
.left {float:left;}
.right {float:right;}
/* ScrollBars */
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: #F3F3F3;
}
::-webkit-scrollbar-thumb {
  background: #CCCCCC;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background: #999999;
  background-clip: content-box;
}
#show-faq{
  cursor: pointer;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  height: 50%;
  width: 40%;
  border-radius: 5px;
  overflow: auto;
  min-width: 300px;
}
.modal-content table{
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}
.modal-content th, td{
  border: 1px solid black;
  padding: 5px;
}
.close {
  color: #aaaaaa;
  float: right;
  margin: 0px;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  text-align: center;
  cursor: pointer;
  padding: 9px 16px;
  font-size: 20px;  
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: white;
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
}
.dropdown .dropbtn:after{
  content: '\25be';
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #2fa6e2;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  float: none;
  font-size: 16px;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown-content a:hover {
  background-color: #1c91cc;
}
.show {
  display: block;
}
.hide {
  display: none;
}
@media screen and (max-width: 600px) {

  #editorSkeleton{
    flex-direction: column-reverse;
  }
  .editorBox{
    height: 50%;
    width: 100%!important;
    max-width: 100%;
  }
  .verticalSplitter{
    display: none;
  }
  .logo{
    width: 22px;
  }
  .navbar p{
    font-size: 15px;
    line-height: 35px;
  }
}
@media screen and (max-width: 1000px) {
  .navbar-right{
    display: none;
  }
  #rightFooter .center{
    position: relative;
    float: right;
    transform: none;
    top: 0;
    left: 0;
  }
  #rightFooter .right{
    display: none!important;
  }
  .navbar-right {
    float: none;
    display: none;
  }
  .navbar-centered a {
    height: 46px;
    position: relative;
    transform: none;
    float: right;
    top: auto;
    left: auto;
  }
  .title-link{
    width: 15px;
    height: 15px;
  }
}