* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  overflow: hidden;
}
#root{
  height: 100vh;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 1.4;
}
a {
  color: #333;
  text-decoration: none;
}
.emscripten {
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas{
  outline: none;
  border: 0px none;
}
.errorLog{
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: #acacac;
}
.error{
  font-size: small;
  background-color: #acacac;
  line-height: 2;
  margin: 10px;
}
.error img{
  height: 15px;
  margin-right: 5px;
  vertical-align: middle;
}
.errorLine{
  background-color: #ecada2!important;
}
.navbar{
  position: relative;
  overflow: hidden;
  height: 48px;
  background-color: #124C7A;
  border-bottom: solid 3px #2FA6E2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.navbar a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbar-left{
  height: 100%;
  display: flex;
  padding: 5px!important;
}
.navbar-left span{
  color: #2FA6E2;
}
.navbar-left p{
  display: flex;
  font-size: 24px;
  color: #fff;
}
.logo{
  width: 28px;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}
.navbar-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}
.navbar-right {
  float: right;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.editorBox{
  min-width: 300px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.runButton{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #2FA6E2;
  border-radius: 2px;
  border-style: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 12px 6px 12px;
  vertical-align: top;
  z-index: 20;
  cursor: pointer;
}
.runButton img{
  height: 10px;
  margin-right: 8px;
}
.codemirrorContainer{
  flex-grow: 1;
}
#xamlEditorContainer{
  min-height: 20%;
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
}
.CodeMirror{
  height: 100%;
  font-size: 14px;
  font-family: Consolas, monaco, monospace;
  font-weight: normal;
  background: #F3F3F3;
}
.CodeMirror-lines{
  padding: 8px 0;
}
.CodeMirror-linenumber {
  color: #989898;
}
.CodeMirror-gutters {
  border-right: 0px;
  background-color: #F3F3F3;
}
.CodeMirror-scrollbar-filler {
  background-color: #F3F3F3;
}
.CodeMirror-hscrollbar {
  outline: none;
}
.CodeMirror-hints {
  padding: 2px 0;

  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,.2);
  box-shadow: 1px 1px 4px rgba(0,0,0,.2);
  border-radius: 2px;
  border: 1px solid #c0c0c0;

  background: #e0e0e0;
  font-size: 75%;
  font-family: "Open Sans", sans-serif;
}

.CodeMirror-hint {
  margin: 0;
  padding: 1px 12px;
  border-radius: 0;
  white-space: pre;
  color: #444;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #2FA6E230;
  color: #000;
}
.datacontext{
   height: calc(100% - 30px);
}
#dataContextContainer{
  box-sizing: border-box;
  flex-shrink: 1;
  flex-grow: 1;
  height: 30px;
  overflow: hidden;
}
.dataContextTitleBar{
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  line-height: 1.4;
  background-color: #DBDBDB;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.dataContextTitleBar:hover{
  background-color: #E6E6E6;
  color: #333333;
}
.dataContextTitleBar img{
  transform: rotate(180deg);
  height: 10px;
  width: 10px;
}
#editorSkeleton{
  display: flex;
  height: calc(100% - 48px - 32px);
}
.verticalSplitter{
  flex: 0 0 auto;
  height: 100%;
  max-width: 1px;
  background: #BFBFBF;
  cursor: ew-resize;
  z-index: 10;
}
.verticalSplitter:after{
  content: "";
  display: block;
  width: 8px;
  height: 100%;
  position: relative;
  top: 0px;
  left: -3px;
}
#topSplitter{
  display: none;
}
#dataContextSplitter{
  flex: 0 0 auto;
  width: 100%;
  max-height: 1px;
  background: #BFBFBF;
  z-index: 10;
}
.canScroll{
  cursor: ns-resize
}
#dataContextSplitter:after{
  content: "";
  display: block;
  height: 8px;
  width: 100%;
  position: relative;
  top: 0px;
  left: -3px;
}
footer{
  height: 32px;
  background-color: #161616;
  color: #B3B3B3;
  font-size: 11px;
  align-items: center;
}
footer span{
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
.link{
  user-select: none;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 70px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: gray;
}
.link img{
  margin: 25px;
  width: 20px;
  height: 20px;
}
.left {float:left;}
.right {float:right;}
/* ScrollBars */
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: #F3F3F3;
}
::-webkit-scrollbar-thumb {
  background: #CCCCCC;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background: #999999;
  background-clip: content-box;
}
@media screen and (max-width: 600px) {
  .navbar a, .navbar-right {
    float: none;
    display: block;
  }
  .navbar-left p{
    display: none;
  }
  .navbar-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  #editorSkeleton{
    flex-direction: column-reverse;
  }
  .editorBox{
    height: 50%;
    width: 100%!important;
    max-width: 100%;
  }
  .verticalSplitter{
    display: none;
  }
  #topSplitter{
    display: inline;
  }
}